// Colors
$blue: #00c6d7;
$wht: #fff;
$bdy: #333;
$agncybg: #3b3b3b;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $bdy;
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
}

// Navigation
nav {
  width: 100%;
  padding: 24px 0;
  position: absolute;
  top: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-left {
      a {
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 700;
        color: $blue;
        text-decoration: none;
      }
    }
    .items-right {
      a {
        margin: 0 28px 0 0;
        text-transform: uppercase;
        font-size: 0.9rem;
        text-decoration: none;
        font-weight: 600;
        color: $wht;
        &:nth-child(1) {
          color: #00c6d7;
        }
      }
    }
  }
}

// Home
.home {
  width: 100%;
  background: url("img/home-bg-slideshow-1.jpg") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    text-align: center;
    hr {
      width: 250px;
    }
    .home-content {
      span {
        display: block;
        font-weight: 600;
        color: $wht;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-size: 0.9rem;
      }
      h1 {
        margin: 15px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2.8rem;
        letter-spacing: 1px;
        color: $wht;
      }
    }
    .home-btns {
      margin: 70px 0;
      .btn1 {
        background: $blue;
        color: $wht;
        padding: 15px 50px;
        margin-right: 14px;
        text-decoration: none;
        font-weight: 600;
        border: 4px solid $blue;
        transition: 0.4s ease-in-out;
        &:hover {
          background: transparent;
          border: 4px solid $wht;
        }
      }
      .btn2 {
        background: transparent;
        color: $wht;
        padding: 15px 50px;
        text-decoration: none;
        font-weight: 600;
        border: 4px solid $wht;
        transition: 0.4s ease-in-out;
        &:hover {
          background: $blue;
          border: 4px solid $blue;
        }
      }
    }
  }
}

// What We Do
.what-we-do {
  width: 100%;
  padding: 90px 0;
  .heading {
    text-align: center;
    padding: 0 0 70px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
    }
    hr {
      width: 170px;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 100%;
      max-width: 390px;
      text-align: center;
      padding: 30px 20px 45px 20px;
      transition: 0.4s ease-in-out;
      &:hover {
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
      }
      h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2rem;
      }
      hr {
        width: 180px;
      }
      p {
        margin: 25px 0 0 0;
        line-height: 28px;
        font-size: 1rem;
      }
    }
  }
}

// Our Agency
.our-agency {
  width: 100%;
  background: $agncybg;
  padding: 90px 0;
  .heading {
    text-align: center;
    padding: 0 0 50px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
      color: $wht;
    }
    hr {
      width: 170px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .card-img {
      width: 100%;
      max-width: 570px;
      img {
        width: 100%;
        display: block;
      }
    }
    .card-info {
      width: 100%;
      max-width: 570px;
      h2 {
        color: $wht;
        text-transform: uppercase;
        font-size: 1.7rem;
        margin: 15px 0;
      }
      span {
        color: $wht;
        font-weight: 600;
        font-size: 1.3rem;
      }
      .wrap {
        width: 100%;
        border-bottom: 1px solid #606060;
        padding: 30px 0 20px 0;
        .links {
          a {
            text-decoration: none;
            color: $wht;
            text-transform: uppercase;
            padding: 0 20px;
            &:nth-child(1) {
              color: $blue;
            }
          }
        }
      }
      p {
        color: $wht;
        line-height: 28px;
        margin: 22px 0 0 0;
        a {
          color: #ff0;
          text-decoration: none;
        }
        &:last-of-type {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}

// Talented Team
.talented-team {
  width: 100%;
  padding: 90px 0;
  .heading {
    text-align: center;
    padding: 0 0 70px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
    }
    hr {
      width: 160px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .card-team {
      width: 100%;
      max-width: 280px;
      height: 280px;
      background: url("img/team1.jpg") no-repeat center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(2) {
        background: url("img/team2.jpg") no-repeat center center;
      }
      &:nth-child(3) {
        background: url("img/team3.jpg") no-repeat center center;
      }
      &:nth-child(4) {
        background: url("img/team4.jpg") no-repeat center center;
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
      .overlay {
        text-align: center;
        opacity: 0;
        transition: opacity 600ms;
        background: rgba(00, 00, 00, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
          color: $wht;
          margin: 0 0 30px 0;
          font-weight: 600;
          font-size: 1.4rem;
        }
        span {
          color: $blue;
          text-transform: capitalize;
          margin: 0 0 30px 0;
          display: block;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 0.9rem;
        }
        hr {
          width: 180px;
          color: $wht;
        }
      }
      .icons {
        color: $wht;
        margin: 40px 0 0 0;
        i {
          margin: 0 40px 0 0;
          cursor: pointer;
          font-weight: 600;
          &:nth-child(3) {
            margin: 0;
          }
        }
      }
    }
  }
}

// Our Portfolio
.our-portfolio {
  width: 100%;
  padding: 90px 0;
  background: #f6f6f6;
  .heading {
    text-align: center;
    padding: 0 0 70px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
    }
    hr {
      width: 160px;
    }
  }
  .portfolio-items {
    text-align: center;
    padding: 0 0 30px 0;
    a {
      color: #999999;
      text-transform: uppercase;
      margin: 0 40px 0 0;
      text-decoration: none;
      font-weight: 600;
      transition: 0.4s ease-in-out;
      font-size: 0.9rem;
      letter-spacing: 1px;
      &:hover {
        color: $blue;
      }
      &:nth-child(1) {
        color: $blue;
      }
    }
  }
  .portfolio-pics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .port-pic {
      width: 33.3%;
      height: auto;
      padding: 10px;
      transition: 0.4s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

// Our Pricing
.our-pricing {
  width: 100%;
  padding: 90px 0;
  .heading {
    text-align: center;
    padding: 0 0 70px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
    }
    hr {
      width: 160px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .pricing-card {
      width: 100%;
      max-width: 370px;
      text-align: center;
      padding: 80px 30px;
      box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
      .icon-circle {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
      }
      h3 {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1rem;
        margin: 60px 0 15px 0;
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-weight: 600;
          font-size: 3.6rem;
          margin: 0 15px 0 0;
        }
        span {
          display: block;
          margin: 26px 0 0 0;
          font-weight: 600;
          letter-spacing: 0.8px;
        }
      }
      .features {
        padding: 40px 0 0 0;
        p {
          font-weight: 600;
          font-size: 0.9rem;
          padding: 0 0 13px 0;
        }
      }
      .pricing-btn {
        padding: 40px 0 0 0;
        a {
          padding: 20px 60px;
          background: $blue;
          color: $wht;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          transition: 0.4s ease-in-out;
          &:hover {
            background: #3b3b3b;
          }
        }
        .btn1 {
          background: #ffa400;
          &:hover {
            background: #3b3b3b;
          }
        }
        .btn3 {
          background: #009988;
          &:hover {
            background: #3b3b3b;
          }
        }
      }
    }
  }
}

// Contact Us
.contact-us {
  width: 100%;
  padding: 90px 0;
  text-align: center;
  background: url("img/contact.jpg") no-repeat center center;
  background-size: cover;
  .heading {
    text-align: center;
    padding: 0 0 70px 0;
    h1 {
      color: $blue;
      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -4px;
      margin: 0;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
      color: $wht;
    }
    hr {
      width: 160px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .card-left {
      width: 100%;
      max-width: 560px;
      text-align: left;
      color: $wht;
      h1 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.3rem;
        margin: 0;
      }
      p {
        margin: 30px 0 20px 0;
        line-height: 1.6rem;
      }
      .contact-info {
        display: flex;
        justify-content: space-between;
        .wrap {
          width: 100%;
          max-width: 400px;
          p {
            margin: 0 0 0 13px;
          }
          .contact {
            display: flex;
            align-items: center;
            margin: 20px 0 0 0;
            i {
              margin: 0 13px 0 13px;
            }
            h3 {
              text-transform: uppercase;
              letter-spacing: 1px;
              padding: 16px 0 0 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .card-right {
      width: 100%;
      max-width: 560px;
      text-align: left;
      margin: 60px 0 0 0;
      form {
        width: 100%;
        .name-email {
          display: flex;
          input {
            width: 100%;
            padding: 14px 14px 13px 13px;
            border: none;
            font-size: 0.9rem;
            &:nth-child(1) {
              margin: 0 30px 0 0;
            }
            &::placeholder {
              font-size: 0.9rem;
              color: #bbbbbb;
              font-weight: 200;
            }
            &:focus {
              outline: none;
            }
          }
        }
        textarea {
          width: 100%;
          padding: 10px 0 0 13px;
          margin: 18px 0 0 0;
          font-size: 0.9rem;
          &::placeholder {
            font-size: 0.9rem;
            color: #bbbbbb;
            font-weight: 200;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 25px 0 0 0;
        a {
          border: none;
          width: 65%;
          padding: 17px 0;
          background: $blue;
          color: $wht;
          text-align: center;
          transition: 0.4s ease-in-out;
          text-decoration: none;
          font-size: 0.9rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  padding: 60px 0;
  p {
    text-align: center;
    margin: 0 0 20px 0;
    a {
      text-decoration: none;
      color: #337ab7;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  hr {
    width: 180px;
  }
  .container {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    .card {
      margin: 20px 0 0 0;
      box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
      width: 100%;
      max-width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      i {
        color: #808080;
        transition: 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
