* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

body .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 24px 0;
  position: absolute;
  top: 0;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo-left a {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  color: #00c6d7;
  text-decoration: none;
}

nav .container .items-right a {
  margin: 0 28px 0 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

nav .container .items-right a:nth-child(1) {
  color: #00c6d7;
}

.home {
  width: 100%;
  background: url("img/home-bg-slideshow-1.jpg") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .container {
  text-align: center;
}

.home .container hr {
  width: 250px;
}

.home .container .home-content span {
  display: block;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
}

.home .container .home-content h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: 1px;
  color: #fff;
}

.home .container .home-btns {
  margin: 70px 0;
}

.home .container .home-btns .btn1 {
  background: #00c6d7;
  color: #fff;
  padding: 15px 50px;
  margin-right: 14px;
  text-decoration: none;
  font-weight: 600;
  border: 4px solid #00c6d7;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.home .container .home-btns .btn1:hover {
  background: transparent;
  border: 4px solid #fff;
}

.home .container .home-btns .btn2 {
  background: transparent;
  color: #fff;
  padding: 15px 50px;
  text-decoration: none;
  font-weight: 600;
  border: 4px solid #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.home .container .home-btns .btn2:hover {
  background: #00c6d7;
  border: 4px solid #00c6d7;
}

.what-we-do {
  width: 100%;
  padding: 90px 0;
}

.what-we-do .heading {
  text-align: center;
  padding: 0 0 70px 0;
}

.what-we-do .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.what-we-do .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.what-we-do .heading hr {
  width: 170px;
}

.what-we-do .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what-we-do .container .card {
  width: 100%;
  max-width: 390px;
  text-align: center;
  padding: 30px 20px 45px 20px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.what-we-do .container .card:hover {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.what-we-do .container .card h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.what-we-do .container .card hr {
  width: 180px;
}

.what-we-do .container .card p {
  margin: 25px 0 0 0;
  line-height: 28px;
  font-size: 1rem;
}

.our-agency {
  width: 100%;
  background: #3b3b3b;
  padding: 90px 0;
}

.our-agency .heading {
  text-align: center;
  padding: 0 0 50px 0;
}

.our-agency .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.our-agency .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
  color: #fff;
}

.our-agency .heading hr {
  width: 170px;
}

.our-agency .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-agency .container .card-img {
  width: 100%;
  max-width: 570px;
}

.our-agency .container .card-img img {
  width: 100%;
  display: block;
}

.our-agency .container .card-info {
  width: 100%;
  max-width: 570px;
}

.our-agency .container .card-info h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin: 15px 0;
}

.our-agency .container .card-info span {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
}

.our-agency .container .card-info .wrap {
  width: 100%;
  border-bottom: 1px solid #606060;
  padding: 30px 0 20px 0;
}

.our-agency .container .card-info .wrap .links a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
}

.our-agency .container .card-info .wrap .links a:nth-child(1) {
  color: #00c6d7;
}

.our-agency .container .card-info p {
  color: #fff;
  line-height: 28px;
  margin: 22px 0 0 0;
}

.our-agency .container .card-info p a {
  color: #ff0;
  text-decoration: none;
}

.our-agency .container .card-info p:last-of-type {
  margin: 10px 0 0 0;
}

.talented-team {
  width: 100%;
  padding: 90px 0;
}

.talented-team .heading {
  text-align: center;
  padding: 0 0 70px 0;
}

.talented-team .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.talented-team .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.talented-team .heading hr {
  width: 160px;
}

.talented-team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.talented-team .container .card-team {
  width: 100%;
  max-width: 280px;
  height: 280px;
  background: url("img/team1.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talented-team .container .card-team:nth-child(2) {
  background: url("img/team2.jpg") no-repeat center center;
}

.talented-team .container .card-team:nth-child(3) {
  background: url("img/team3.jpg") no-repeat center center;
}

.talented-team .container .card-team:nth-child(4) {
  background: url("img/team4.jpg") no-repeat center center;
}

.talented-team .container .card-team:hover .overlay {
  opacity: 1;
}

.talented-team .container .card-team .overlay {
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.talented-team .container .card-team .overlay h3 {
  color: #fff;
  margin: 0 0 30px 0;
  font-weight: 600;
  font-size: 1.4rem;
}

.talented-team .container .card-team .overlay span {
  color: #00c6d7;
  text-transform: capitalize;
  margin: 0 0 30px 0;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.talented-team .container .card-team .overlay hr {
  width: 180px;
  color: #fff;
}

.talented-team .container .card-team .icons {
  color: #fff;
  margin: 40px 0 0 0;
}

.talented-team .container .card-team .icons i {
  margin: 0 40px 0 0;
  cursor: pointer;
  font-weight: 600;
}

.talented-team .container .card-team .icons i:nth-child(3) {
  margin: 0;
}

.our-portfolio {
  width: 100%;
  padding: 90px 0;
  background: #f6f6f6;
}

.our-portfolio .heading {
  text-align: center;
  padding: 0 0 70px 0;
}

.our-portfolio .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.our-portfolio .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.our-portfolio .heading hr {
  width: 160px;
}

.our-portfolio .portfolio-items {
  text-align: center;
  padding: 0 0 30px 0;
}

.our-portfolio .portfolio-items a {
  color: #999999;
  text-transform: uppercase;
  margin: 0 40px 0 0;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.our-portfolio .portfolio-items a:hover {
  color: #00c6d7;
}

.our-portfolio .portfolio-items a:nth-child(1) {
  color: #00c6d7;
}

.our-portfolio .portfolio-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.our-portfolio .portfolio-pics .port-pic {
  width: 33.3%;
  height: auto;
  padding: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.our-portfolio .portfolio-pics .port-pic:hover {
  opacity: 0.6;
}

.our-portfolio .portfolio-pics .port-pic img {
  width: 100%;
  display: block;
}

.our-pricing {
  width: 100%;
  padding: 90px 0;
}

.our-pricing .heading {
  text-align: center;
  padding: 0 0 70px 0;
}

.our-pricing .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.our-pricing .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.our-pricing .heading hr {
  width: 160px;
}

.our-pricing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-pricing .container .pricing-card {
  width: 100%;
  max-width: 370px;
  text-align: center;
  padding: 80px 30px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.our-pricing .container .pricing-card .icon-circle {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.our-pricing .container .pricing-card h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 60px 0 15px 0;
}

.our-pricing .container .pricing-card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-pricing .container .pricing-card .price h1 {
  font-weight: 600;
  font-size: 3.6rem;
  margin: 0 15px 0 0;
}

.our-pricing .container .pricing-card .price span {
  display: block;
  margin: 26px 0 0 0;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.our-pricing .container .pricing-card .features {
  padding: 40px 0 0 0;
}

.our-pricing .container .pricing-card .features p {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 0 13px 0;
}

.our-pricing .container .pricing-card .pricing-btn {
  padding: 40px 0 0 0;
}

.our-pricing .container .pricing-card .pricing-btn a {
  padding: 20px 60px;
  background: #00c6d7;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.our-pricing .container .pricing-card .pricing-btn a:hover {
  background: #3b3b3b;
}

.our-pricing .container .pricing-card .pricing-btn .btn1 {
  background: #ffa400;
}

.our-pricing .container .pricing-card .pricing-btn .btn1:hover {
  background: #3b3b3b;
}

.our-pricing .container .pricing-card .pricing-btn .btn3 {
  background: #009988;
}

.our-pricing .container .pricing-card .pricing-btn .btn3:hover {
  background: #3b3b3b;
}

.contact-us {
  width: 100%;
  padding: 90px 0;
  text-align: center;
  background: url("img/contact.jpg") no-repeat center center;
  background-size: cover;
}

.contact-us .heading {
  text-align: center;
  padding: 0 0 70px 0;
}

.contact-us .heading h1 {
  color: #00c6d7;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -4px;
  margin: 0;
}

.contact-us .heading span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
  color: #fff;
}

.contact-us .heading hr {
  width: 160px;
}

.contact-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .container .card-left {
  width: 100%;
  max-width: 560px;
  text-align: left;
  color: #fff;
}

.contact-us .container .card-left h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin: 0;
}

.contact-us .container .card-left p {
  margin: 30px 0 20px 0;
  line-height: 1.6rem;
}

.contact-us .container .card-left .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .container .card-left .contact-info .wrap {
  width: 100%;
  max-width: 400px;
}

.contact-us .container .card-left .contact-info .wrap p {
  margin: 0 0 0 13px;
}

.contact-us .container .card-left .contact-info .wrap .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
}

.contact-us .container .card-left .contact-info .wrap .contact i {
  margin: 0 13px 0 13px;
}

.contact-us .container .card-left .contact-info .wrap .contact h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 0 0 0;
  font-size: 1rem;
}

.contact-us .container .card-right {
  width: 100%;
  max-width: 560px;
  text-align: left;
  margin: 60px 0 0 0;
}

.contact-us .container .card-right form {
  width: 100%;
}

.contact-us .container .card-right form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us .container .card-right form .name-email input {
  width: 100%;
  padding: 14px 14px 13px 13px;
  border: none;
  font-size: 0.9rem;
}

.contact-us .container .card-right form .name-email input:nth-child(1) {
  margin: 0 30px 0 0;
}

.contact-us .container .card-right form .name-email input::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form .name-email input:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form .name-email input::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form .name-email input::placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form .name-email input:focus {
  outline: none;
}

.contact-us .container .card-right form textarea {
  width: 100%;
  padding: 10px 0 0 13px;
  margin: 18px 0 0 0;
  font-size: 0.9rem;
}

.contact-us .container .card-right form textarea::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form textarea:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form textarea::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form textarea::placeholder {
  font-size: 0.9rem;
  color: #bbbbbb;
  font-weight: 200;
}

.contact-us .container .card-right form textarea:focus {
  outline: none;
}

.contact-us .container .card-right .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 25px 0 0 0;
}

.contact-us .container .card-right .btn a {
  border: none;
  width: 65%;
  padding: 17px 0;
  background: #00c6d7;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-us .container .card-right .btn a:hover {
  color: #000;
}

footer {
  width: 100%;
  padding: 60px 0;
}

footer p {
  text-align: center;
  margin: 0 0 20px 0;
}

footer p a {
  text-decoration: none;
  color: #337ab7;
}

footer p a:hover {
  text-decoration: underline;
}

footer hr {
  width: 180px;
}

footer .container {
  width: 100%;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .card {
  margin: 20px 0 0 0;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  width: 100%;
  max-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

footer .container .card i {
  color: #808080;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

footer .container .card i:hover {
  color: #00c6d7;
}
/*# sourceMappingURL=style.css.map */